{% extends "base.html" %}
{% block title %}Update/Create Loan{% endblock %}
{% block css %}
{% comment %} for datatables {% endcomment %}
<link rel="stylesheet" href="/static/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="/static/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
{% comment %} for input date {% endcomment %}
<link rel="stylesheet" href="/static/plugins/daterangepicker/daterangepicker.css">
{% endblock %}
{% block content %}
<div class="card">
  <div class="card-body">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-default">Request Loan</button>
    <table id="loantable" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Action</th>
          <th>Loan ID</th>
          <th>Borrower</th>
          <th>Amount Loan</th>
          <th>Due Date</th>
        </tr>
      </thead>
      <tbody id="loan-table-content">
        {% for ins in getLoanTableDetails %}
        <tr>
          <td><a class="nav-link active ps-0 loan-link" data-toggle="modal" data-target="#modal-xl" data-value='{{ ins.loan_id }}'>View</a></td>
          <td>{{ ins.loan_id }}</td>
          <td>{{ ins.name }}</td>
          <td>{{ ins.amount_loan }}</td>
          <td>{{ ins.due_date }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% comment %} modal for loan request {% endcomment %}
<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Request Form</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Borrower</label>
          <input type="text" class="form-control" placeholder="Name" aria-label="Username" id="borrowerName">
        </div>
        <div class="form-group">
          <label>Loan Amount</label>
          <div class="input-group">
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id="loanAmount">
            <div class="input-group-append">
              <span class="input-group-text">.00</span>
            </div>
          </div>
        </div>
        {% comment %} "<div class='custom-control custom-checkbox' id='paymentCheckBox"+i+"' hidden>" +
          "<input type='checkbox' class='custom-control-input' name='optionsRadios' id='optionsRadios"+i+"' value=''>" +
          "<label for='optionsRadios"+i+"' class='custom-control-label' id='optionsRadiosLabel"+i+"'></label>"+
          "</div>"; {% endcomment %}
        <div class="custom-control custom-checkbox">
          <input class="custom-control-input" type="checkbox" id="paymentMethod" onclick="changeLabel()">
          <label id="paymentLabel" for="paymentMethod" class="custom-control-label">Payment: Custom</label>
        </div>
        <div class="form-group payment-method-custom">
          <label>Date:</label>
          <div class="input-group date" id="reservationdate" data-target-input="nearest">
              <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate"/>
              <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
          </div>
        </div>
        <div class="form-group payment-method-daily" hidden>
          <label style="margin-right: 5px; display: inline-block;">Days:</label>
          <select id="numberOfDays" class="custom-select" style="width: 60px; display: inline-block;">
          </select>
        </div>
        <div class="form-group payment-method-daily" hidden>
          <label style="margin-right: 5px; display: inline-block;">Amount Per Day</label>
          <input type="text" class="form-control" id="amountPerDay" style="width: 80px; display: inline-block; margin-right: 20px;" disabled>
          <label style="margin-right: 5px; display: inline-block;">Total Amount</label>
          <input type="text" class="form-control" id="loanWithPercent" style="width: 100px; display: inline-block;" disabled>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" id="submitAddLoan">Submit Request</button>
      </div>
    </div>
  </div>
</div>

{% comment %} modal for loan table {% endcomment %}
<div class="modal fade" id="modal-xl">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" id="modalLoanDetailTable">
      <div class="modal-header">
        <h4 class="modal-title nav-link active ps-0" id="loanDetailsModalTitle"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3">
              <div class="form-group">
                <label>Borrower: </label>
                <label id="loan_details_borrower"></label>
              </div>
              <div class="form-group">
                <label>Amount Loan: </label>
                <label id="loan_details_amount_loan"></label>
              </div>
              <div class="form-group">
                <label>Start Date: </label>
                <label id="loan_details_start_date"></label>
              </div>
              <div class="form-group">
                <label>Due Date: </label>
                <label id="loan_details_due_date"></label>
              </div>
              <div class="form-group">
                <label>Total Days: </label>
                <label id="loan_details_total_days"></label>
              </div>
              <div class="form-group">
                <label>Amount Per Day: </label>
                <label id="loan_details_amount_per_day"></label>
              </div>
          </div>
          <div class="col-md-3">
              <div class="form-group">
                <label>Progress: </label>
                <div id="loan_details_progress"></div>
              </div>
              <div class="form-group">
                <label>Total Profit: </label>
                <label id="loan_details_total_profit"></label>
              </div>
              <div class="form-group">
                <label>Amount Paid: </label>
                <label id="loan_details_amount_paid"></label>
              </div>
              <div class="form-group">
                <label>Amount Left: </label>
                <label id="loan_details_amount_left"></label>
              </div>
              <div class="form-group">
                <label>Paid Day/s: </label>
                <label id="loan_details_paid_days"></label>
              </div>
              <div class="form-group">
                <label>Day/s Left: </label>
                <label id="loan_details_days_left"></label>
              </div>
          </div>
          <div class="col-md-2">
            <div class="form-group" id="payment_col_1">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group" id="payment_col_2">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group" id="payment_col_3">
            </div>
          </div>
        </div>
        {% comment %} <div class="row">
        </div> {% endcomment %}
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success btn-fw" id="updatePayment">Update</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script>
  $(function () {
    $("#loantable").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/static/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/static/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/static/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/static/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="/static/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<script src="/static/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/static/plugins/moment/moment.min.js"></script>
<script src="/static/plugins/inputmask/jquery.inputmask.min.js"></script>
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date picker
    $('#reservationdate').datetimepicker({
        format: 'L'
    });

    //Date and time picker
    $('#reservationdatetime').datetimepicker({ icons: { time: 'far fa-clock' } });

    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      locale: {
        format: 'MM/DD/YYYY hh:mm A'
      }
    })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Timepicker
    $('#timepicker').datetimepicker({
      format: 'LT'
    })

    //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox()

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    $('.my-colorpicker2').on('colorpickerChange', function(event) {
      $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
    })

    $("input[data-bootstrap-switch]").each(function(){
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
    })

  })
</script>
<script>
  $(function () {
    bsCustomFileInput.init();
  });
</script>
<script>
  function changeLabel() {
    var checkbox = document.getElementById("paymentMethod");
    var label = document.getElementById("paymentLabel");
    
    if (checkbox.checked) {
      label.innerHTML = "Payment: Daily";
    } else {
      label.innerHTML = "Payment: Custom";
    }
  }
</script>
<script src="/static/dist/js/updateloan/main.js"></script>
{% endblock %}