{% extends "base.html" %}
{% block title %}Update/Create Loan{% endblock %}
{% block css %}
{% comment %} for datatables {% endcomment %}
<link rel="stylesheet" href="/static/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="/static/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
{% comment %} for input date {% endcomment %}
<link rel="stylesheet" href="/static/plugins/daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="/static/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
{% endblock %}
{% block content %}
<div class="card">
  <div class="card-header">
    <h3 class="card-title loan-table-title">Table for Daily Payment:</h3><button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-default" style="text-align: right; float: right;">Request Loan</button>
  </div>
  <div class="card-body">
    <table id="loantable" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Action</th>
          <th>Loan ID</th>
          <th>Borrower</th>
          <th>Amount Loan</th>
          <th>Due Date</th>
        </tr>
      </thead>
      <tbody id="loan-table-content">
        {% for ins in getLoanTableDetails %}
        <tr>
          <td><a class="nav-link active ps-0 loan-link" data-toggle="modal" data-target="#modal-daily" data-value='{{ ins.loan_id }}'>View</a></td>
          <td>{{ ins.loan_id }}</td>
          <td>{{ ins.name }}</td>
          <td>{{ ins.amount_loan }}</td>
          <td>{{ ins.due_date }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h3 class="card-title loan-table-title">Table for Custom Payment:</h3>
  </div>
  <div class="card-body">
    <table id="loantableCustom" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Action</th>
          <th>Loan ID</th>
          <th>Borrower</th>
          <th>Amount Loan</th>
          <th>Due Date</th>
        </tr>
      </thead>
      <tbody id="loan-table-content">
        {% for ins in getLoanTableDetailsCustom %}
        <tr>
          <td><a class="nav-link active ps-0 loan-link" data-toggle="modal" data-target="#modal-custom" data-value='{{ ins.loan_id }}'>View</a></td>
          <td>{{ ins.loan_id }}</td>
          <td>{{ ins.name }}</td>
          <td>{{ ins.amount_loan }}</td>
          <td>{{ ins.due_date }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% comment %} modal for loan request {% endcomment %}
<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Request Form</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Borrower</label>
          <input type="text" class="form-control" placeholder="Name" aria-label="Username" id="borrowerName">
        </div>
        <div class="form-group">
          <label>Loan Amount</label>
          <div class="input-group">
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id="loanAmount">
            <div class="input-group-append">
              <span class="input-group-text">.00</span>
            </div>
          </div>
        </div>
        <div class="custom-control custom-checkbox" style="margin-bottom: 10px">
          <input class="custom-control-input" type="checkbox" id="paymentMethod" onclick="changeLabel()">
          <label id="paymentLabel" for="paymentMethod" class="custom-control-label">Payment: Custom</label>
        </div>
        <div class="form-group payment-method-custom">
          <label>Custom Due Date:</label>
            <div class="input-group date" id="custom-due-date" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input custom-due-date" data-target="#custom-due-date"/>
                <div class="input-group-append" data-target="#custom-due-date" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
          <label style="margin-right: 5px; display: inline-block;">Total Amount</label>
          <input type="text" class="form-control" id="loanWithPercentCustom" style="margin-top: 15px; width: 100px; display: inline-block;" disabled>
        </div>
        <div class="form-group payment-method-daily">
          <label style="margin-right: 5px; display: inline-block;">Days:</label>
          <select id="numberOfDays" class="custom-select" style="width: 60px; display: inline-block;">
          </select>
        </div>
        <div class="form-group payment-method-daily">
          <label style="margin-right: 5px; display: inline-block;">Amount Per Day</label>
          <input type="text" class="form-control" id="amountPerDay" style="width: 80px; display: inline-block; margin-right: 20px;" disabled>
          <label style="margin-right: 5px; display: inline-block;">Total Amount</label>
          <input type="text" class="form-control" id="loanWithPercent" style="width: 100px; display: inline-block;" disabled>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" id="submitAddLoan">Submit Request</button>
      </div>
    </div>
  </div>
</div>

{% comment %} modal for loan table {% endcomment %}
<div class="modal fade" id="modal-daily">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" id="modalLoanDetailTable">
      <div class="modal-header">
        <h4 class="modal-title nav-link active ps-0" id="loanDetailsModalTitle"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3">
              <div class="form-group">
                <label>Borrower: </label>
                <label id="loan_details_borrower"></label>
              </div>
              <div class="form-group">
                <label>Amount Loan: </label>
                <label id="loan_details_amount_loan"></label>
              </div>
              <div class="form-group">
                <label>Start Date: </label>
                <label id="loan_details_start_date"></label>
              </div>
              <div class="form-group">
                <label>Due Date: </label>
                <label id="loan_details_due_date"></label>
              </div>
              <div class="form-group">
                <label>Total Days: </label>
                <label id="loan_details_total_days"></label>
              </div>
              <div class="form-group">
                <label>Amount Per Day: </label>
                <label id="loan_details_amount_per_day"></label>
              </div>
          </div>
          <div class="col-md-3">
              <div class="form-group">
                <label>Guarantor: </label>
                <label id="loan_details_progress"></label>
              </div>
              <div class="form-group">
                <label>Total Profit: </label>
                <label id="loan_details_total_profit"></label>
              </div>
              <div class="form-group">
                <label>Amount Paid: </label>
                <label id="loan_details_amount_paid"></label>
              </div>
              <div class="form-group">
                <label>Amount Left: </label>
                <label id="loan_details_amount_left"></label>
              </div>
              <div class="form-group">
                <label>Paid Day/s: </label>
                <label id="loan_details_paid_days"></label>
              </div>
              <div class="form-group">
                <label>Day/s Left: </label>
                <label id="loan_details_days_left"></label>
              </div>
          </div>
          <div class="col-md-2">
            <div class="form-group" id="payment_col_1">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group" id="payment_col_2">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group" id="payment_col_3">
            </div>
          </div>
        </div>
        {% comment %} <div class="row">
        </div> {% endcomment %}
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success btn-fw" id="updatePayment">Payment update</button>
        <button type="button" class="btn btn-success btn-fw" id="renewRequest" disabled>Renew</button>
        <button type="button" class="btn btn-success btn-fw" id="completeRequest">Complete</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script>
  $(function () {
    $("#loantable").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });

  $(function () {
    $("#loantableCustom").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/static/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/static/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/static/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/static/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="/static/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<script src="/static/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/static/plugins/moment/moment.min.js"></script>
<script src="/static/plugins/inputmask/jquery.inputmask.min.js"></script>
<script src="/static/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="/static/plugins/select2/js/select2.full.min.js"></script>
<script>

  const paymentCustom = $('.payment-method-custom');
  const paymentDaily = $('.payment-method-daily');
  paymentDaily.hide();
  paymentCustom.show();

  $(function () {
    bsCustomFileInput.init();
    //Date picker
    $('#custom-due-date').datetimepicker({
      format: 'L'
    });
  });

  function changeLabel() {
    var checkbox = document.getElementById("paymentMethod");
    var label = document.getElementById("paymentLabel");
    var paymentCustom = $('.payment-method-custom');
    var paymentDaily = $('.payment-method-daily');
    
    if (checkbox.checked) {
      label.innerHTML = "Payment: Daily";
      paymentCustom.hide();
      paymentDaily.show();
    } else {
      label.innerHTML = "Payment: Custom";
      paymentDaily.hide();
      paymentCustom.show();
    }
  }
</script>
<script src="/static/dist/js/updateloan/main.js"></script>
{% endblock %}